@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}


body {
  width: 100%;
  height: 100%;
}

body {
  background-color: #eaecf0;
}

.container {
  width: 100vw;
  height: 100vh;
  display: flex;
}

.left-panel {
  width: 50%;
  position: relative;
  background-image: linear-gradient(
      rgba(109, 109, 109, 0.55),
      rgba(98, 97, 97, 0.55)
    ),
    url("./assets/masjid.jpg");

  background-size: cover;
  background-position: center top; 
  background-repeat: no-repeat;
  color: #4b4848;
  display: flex;
  flex-direction: column;
  justify-content: flex-start; 
  align-items: center;
  padding: 80px 20px 20px 20px; 
  text-align: center;
}

.left-panel h1 {
  font-size: 42px;
  font-weight: 600;
  margin-bottom: 8px; 

}

.left-panel p {
  font-size: 19px;
  max-width: 320px;
  
}

.right-panel {
  width: 50%;
  background: #a29f9f;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 80px;
}

.right-panel h2 {
  font-size: 58px;
  font-weight: 1000;
  margin-bottom: 40px;
}

.login-form {
  width: 100%;
  max-width: 420px;
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.input-group {
  position: relative;
}

.input-group span {
  position: absolute;
  top: 50%;
  left: 16px;
  transform: translateY(-50%);
  font-size: 22px;
  color: #728094;
}

.input-group.password-group input {
  padding-right: 60px;
}

.input-group input {
  width: 100%;
  height: 54px;
  font-size: 17px;
  font-weight: 500;
  color: #111827;
  padding: 0 16px 0 50px;
  border-radius: 40px;
  border: 1px solid #5b5d5d;
  
}

.input-group input::placeholder {
  color: #9ba2ad;
}

.input-group input:focus {
  border-color: #716e6e;
  box-shadow: 0 0 0 4px rgba(93, 92, 92, 0.2);
}

.password-toggle {
  position: absolute;
  top: 50%;
  right: 16px;
  transform: translateY(-50%);
  cursor: pointer;
  color: #a6adb7;
  font-weight: 100;
  user-select: none;
  font-size: 22px;
  background: transparent;
  border: none;
}


.login-btn {
  height: 54px;
  margin-top: 10px;
  width: 190px;
  align-self: center;
  border: none;
  border-radius: 40px;
  background-color: #2c2c2e;
  color: #ffffff;
  font-size: 16px;
  font-weight: 500;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.2s ease;
}

@media (max-width: 900px) {
  .container {
    flex-direction: column;
  }

  .left-panel,
  .right-panel {
    width: 100%;
    padding: 50px 30px;
  }

  .login-form {
    max-width: 100%;
  }
}
